# Python
__pycache__/
*.py[cod]
*.sqlite3
*.egg-info/
*.egg
.pytest_cache/
.venv/
backend/media/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
.DS_Store

# Coverage
.coverage
coverage/

# Environment variables
.env